.bash_history
.config/.mono/
.config/fish/fish_history
.config/fish/fishd.*
.tmux/resurrect/
.vim.old/
.vim/.gitignore
.vim/.gitmodules
.vim/README.md
.vim/Rakefile
.vim/bootstrap.sh
.viminfo
fish_history
fishd.*
tmux-buffer
